.idea
node_modules/
/backup/
down/
myad/*
ss/uploads/
ss/usage/
*.bat
*.zip
*.log
dist/*
engine/cashe/
engine/data/dbconfig.php
engine/modules/engine/data/dbconfig.php
engine/modules/tech/includes/karatinit.php
engine/modules/tech/includes/init.php
